<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.quizapp_o2">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="Quiz Code De La Route"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".quiz2"></activity>
        <activity android:name=".Menu" />
        <activity android:name=".Score" />
        <activity android:name=".quiz" />
        <activity android:name=".Register" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>